.index {
  padding-top: 150px;
}
.index .title {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.index .searchContent {
  display: flex;
  height: 80px;
  padding: 10px 0 10px 10px;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}
.index .searchContent .searchForm {
  flex: 1;
  background-color: #e6e6e6;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  padding: 4px 0;
  color: #878787;
}
.index .searchContent .searchForm .taro-img {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 10px 10px 0 0;
}
.index .searchContent .seachBtn {
  width: 160px;
  text-align: right;
  padding: 0 20px 0 0;
  font-size: 36px;
  font-weight: bold;
  color: #225ecd;
}
.index .searchContent .seachBtn .taro-img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
.index .tabViewTitle {
  display: flex;
  border-bottom: 1px solid #eee;
  font-size: 30px;
  padding: 10px 0;
  position: relative;
}
.index .tabViewTitle .tabTitle {
  flex: 1;
  text-align: center;
}
.index .tabViewTitle .line {
  width: 25%;
  border-bottom: 1px solid #000;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: .5s all ease;
}
.index .scrollContent {
  min-height: 1200px;
  background-color: #F0F4F3;
}
